/* @media (max-width: 768px) {
   Styles for mobile screens 
  .rapper {
    padding: 10px;
    font-size: 14px;
  }
} */
/* @media (min-width: 769px) {
  Styles for desktop screens 
  .rapper {
    padding: 20px;
    font-size: 16px;
  }
} */
/* .responsive-rapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
img,video {
  max-width: 100%;
  height: auto;
} */




